DJANGO_SETTINGS_MODULE=core.settings.dev
SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1,localhost
PG_NAME=shahania_db
PG_USER=sh_user
PG_PASSWORD=09041974
PG_HOST=127.0.0.1
PG_PORT=5432
REDIS_URL=redis://127.0.0.1:6379/0
DEBUG=True
